# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=unicaronas
DB_USER=postgres
DB_PASSWORD=suasenha

# JWT
JWT_SECRET=seu_segredo_jwt_muito_seguro_aqui

# Frontend (CORS)
FRONTEND_URL=http://localhost:5500

# Validação de e-mail institucional (separar por vírgula) - COLOQUE O EMAIL INSTITUCIONAL PORRA
EMAIL_DOMINIOS=@uni.edu.br,@universidade.edu.br

# Precificação
CUSTO_POR_KM=0.30
TAXA_PLATAFORMA_PERCENT=10

# Stripe (Pagamentos — opcional para MVP)
STRIPE_SECRET_KEY=sk_test_...
